.xfrmc-resourceList {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;

  .resourceList-item {
    flex: 0 0 25%;
    min-width: 25%;
    padding: @xf-paddingMedium;

    &.deleted, &.moderated {
      opacity: 0.4;

      .resourceList-item--wrapper {
        box-shadow: none;
      }
    }

    .resourceList-item--wrapper {
      border-radius: @xf-borderRadiusMedium;
      display: flex;
      flex-direction: column;
      box-shadow: hsl(0, 0%, 80%) 0 0 16px;
      height: 100%;
    }

    .avatar {
      height: 200px;
      width: 100%;
      background-color: transparent !important;
      border-radius: 3px 3px 0 0;
    }

    .resourceList-item--body {
      padding: @xf-paddingLarge;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .resourceList-item--title {
      font-weight: 500;
      color: @xf-linkHoverColor;
      font-size: @xf-fontSizeLarge;
    }

    .resourceList-item--description {
      padding: 0;
      margin: 0;
      font-size: @xf-fontSizeSmaller;
      color: @xf-textColorMuted;
      margin-bottom: @xf-paddingLarge;
    }

    .resourceList-item--price {
      font-size: @xf-fontSizeLargest;
      font-weight: @xf-fontWeightHeavy;
      color: @xf-textColorAttention;
      height: 33px;
      display: block;
      margin-bottom: @xf-paddingMedium;
    }

    .resourceList-item--meta {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ratingStarsRow {
        flex-direction: column;

        .ratingStars--custom {
          font-size: 90%;
        }

        .ratingStarsRow-text {
          margin-left: inherit;
          font-size: @xf-fontSizeSmaller;
          color: @xf-textColorMuted;
        }
      }
    }

    .resourceList-item--fill {
      flex: 1;
    }

    .button--icon {
      .fa {
        font-size: @xf-fontSizeLarge;
      }
    }
  }
}

@media(max-width: @xf-responsiveMedium) {
  .xfrmc-resourceList {
    margin-left: -@xf-paddingSmall;
    margin-right: -@xf-paddingSmall;
    .resourceList-item {
      flex: 0 0 50%;
      min-width: 50%;
      padding: @xf-paddingSmall;

      .avatar {
        height: 140px;
      }
    }
  }
}

@media (max-width: @xf-pageWidthMax) and (min-width: @xf-responsiveWide) {
  .xfrmc-resourceList {
    .resourceList-item {
      flex: 0 0 33.3333%;
      min-width: 33.3333%;
    }
  }
}