<xf:title>{{ phrase('xfrmc_report_data_from_x_to_y', {
    'from': $fromDate,
    'to': $toDate}) }}</xf:title>

<xf:js src="https://www.gstatic.com/charts/loader.js"/>
<xf:js>
    $(document).ready(function() {
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', '{{ phrase('date') }}');
            data.addColumn('number', '{{ phrase('xfrmc_total_amount') }}');

            var reportData = {{ $dataJs|json }};
            data.addRows(reportData);

            var options = {
                chart: {
                    title: '{{ phrase('xfrmc_report_data_from_x_to_y', {'from': $fromDate, 'to': $toDate}) }}'
                },
                width: '100%',
                height: 500,
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('xfrmc-reports-chart'));
            chart.draw(data, options);
        }
    });
</xf:js>

<xf:css src="xfrmc_report.less"/>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <div id="xfrmc-reports-chart" class="chart-wrapper"></div>
            <xf:form method="GET" action="{{ link('xfrmc-reports') }}">
                <div class="xfrmc-filterDates">
                    <div class="xfrmc-filterDates--input">
                        <span>{{ phrase('xfrmc_from_date') }}:</span><xf:dateinput name="from" value="{$fromDate}" /></div>
                    <div class="xfrmc-filterDates--input">
                        <span>{{ phrase('xfrmc_to_date') }}:</span><xf:dateinput name="to" value="{$toDate}" /></div>
                </div>
                <xf:formrow label="{{ phrase('xfrmc_total_amount') }}">{$totalAmount|currency('USD')}</xf:formrow>
                <xf:submitrow icon="search" rowtype="simple" submit="{{ phrase('xfrmc_apply_filters') }}"/>
            </xf:form>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <div class="block-header">{{ phrase('xfrmc_report_details') }}</div>
        <div class="block-body">
            <xf:datalist>
                <xf:datarow rowtype="subSection">
                    <xf:cell>{{ phrase('date') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_total_amount') }}</xf:cell>
                </xf:datarow>
                <xf:foreach loop="$reports" value="$report">
                    <xf:datarow>
                        <xf:cell>{$report.date}</xf:cell>
                        <xf:cell>{$report.amount|currency('USD')}</xf:cell>
                    </xf:datarow>
                </xf:foreach>
            </xf:datalist>
        </div>
    </div>
</div>