<xf:title>{{ $isRenewPurchase
    ? phrase('tl_xfrm_customized.renew_purchase_resource')
    : phrase('tl_xfrm_customized.purchase_resource') }}</xf:title>

<xf:breadcrumb source="$resource.getBreadcrumbs()" />

<xf:js src="Truonglv/XFRMCustomized/coupon.js"
       addon="Truonglv/XFRMCustomized" min="1" />

<xf:form action="{{ link('purchase', $purchasable) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="!$isRenewPurchase">
                <xf:inforow rowtype="confirm">
                    {{ phrase('tl_xfrm_customized.sure_you_want_to_purchase_this_resource') }}
                    <strong><a href="{{ link('resources', $resource) }}">{$resource.title}</a></strong>
                </xf:inforow>
            </xf:if>

            <xf:formrow label="{{ phrase('price') }}">{$purchasePrice|currency($resource.currency)}</xf:formrow>
            <xf:formrow label="{{ phrase('tl_xfrm_customized.license_duration') }}">{{ phrase('tl_xfrm_customized.12_months') }}</xf:formrow>

            <xf:radiorow label="{{ phrase('tl_xfrm_customized.purchase_via') }}" name="payment_profile_id">
                <xf:foreach loop="$paymentProfiles" value="$paymentProfile">
                    <xf:option value="{$paymentProfile.payment_profile_id}">{{ $paymentProfile.display_title . ' - ' . $paymentProfile.title }}</xf:option>
                </xf:foreach>
            </xf:radiorow>

            <xf:formrow label="{{ phrase('tl_xfrm_customized.coupon_code') }}" rowtype="input"
                        explain="{{ phrase('tl_xfrm_customized.enter_coupon_code_to_receive_discount') }}">
                <div class="inputGroup">
                    <xf:textbox name="coupon_code" value="" class="input--couponCode" />
                    <span class="inputGroup-splitter"></span>
                    <xf:button data-xf-click="xfrmc-check-coupon-code"
                               data-href="{{ link('resources/coupons/check') }}"
                               data-resource-id="{$resource.resource_id}"
                               data-coupon-input="< .inputGroup | .input--couponCode"
                               type="button">{{ phrase('tl_xfrm_customized.check_available') }}</xf:button>
                </div>
            </xf:formrow>
        </div>

        <xf:hiddenval name="resource_id">{$resource.resource_id}</xf:hiddenval>

        <xf:submitrow submit="{{ phrase('tl_xfrm_customized.purchase_resource') }}"
                      rowtype="simple"
                      icon="purchase" />
    </div>
</xf:form>