<xf:macro id="type"
	arg-currentType="!"
	arg-resource="!"
	arg-category="!"
	arg-versionAttachData="!"
	arg-allowCurrentType="{{ false }}">
	<xf:set var="$xfrmSupportLargeFileEnabled"><xf:callback class="Truonglv\XFRMCustomized\Callback" method="getIsXFRMSupportLargeFileEnabled" /></xf:set>
	<xf:if is="$xfrmSupportLargeFileEnabled is not empty">
		<xf:radiorow name="resource_type" value="{$currentType}"
					 label="{{ phrase('type') }}">
			<xf:option value="download_local"
					   label="{{ phrase('xfrm_uploaded_files:') }}" selected="{{ true }}">
				<xf:macro id="xfrm_extended_resource_macros::upload_button"
						  arg-attachmentData="{$versionAttachData}"
						  arg-category="{$category}"
						  arg-hiddenName="version_attachment_hash"/>
			</xf:option>
		</xf:radiorow>
	<xf:else />
		<xf:radiorow name="resource_type" value="{$currentType}"
					 label="{{ phrase('type') }}"
					 data-xf-init="attachment-manager">

			<xf:option value="download_local"
					   label="{{ phrase('xfrm_uploaded_files:') }}" selected="{{ true }}">
				<xf:macro id="helper_attach_upload::upload_block"
						  arg-attachmentData="{$versionAttachData}"
						  arg-hiddenName="version_attachment_hash" />
			</xf:option>
		</xf:radiorow>
	</xf:if>

    <xf:macro id="purchase_inputs" arg-resource="{$resource}" arg-showPrice="{{ true }}" />
</xf:macro>

<xf:macro id="purchase_inputs" arg-resource="!" arg-showPrice="{{ false }}">
	<xf:js src="Truonglv/XFRMCustomized/coupon.js" min="1" addon="Truonglv/XFRMCustomized" />
    <hr class="formRowSep" />
	<div class="js-xfrmc-paymentProfiles">
		<xf:callback class="Truonglv\XFRMCustomized\Callback"
					 method="renderPaymentProfiles"
					 params="{'resource': $resource}" />
	</div>

    <xf:if is="$showPrice">
        <xf:formrow rowtype="input" label="{{ phrase('price') }}">
			<div data-xf-init="xfrmc-price-calc"
				 data-estimate-url="{{ link('resources/xfrmc-price-calc') }}"
				 data-input-selector="input[name='price']"
				 data-payment-profiles="< .block-body | .js-xfrmc-paymentProfiles">
				<xf:macro id="xfrm_resource_edit_macros::purchase_inputs"
						  arg-resource="{$resource}" />
			</div>
        </xf:formrow>
    </xf:if>

    <xf:textboxrow name="renew_price"
                   label="{{ phrase('xfrmc_renew_price') }}"
                   value="{{ $resource.renew_price ?: '' }}"
				   data-xf-init="xfrmc-price-calc"
				   data-estimate-url="{{ link('resources/xfrmc-price-calc') }}"
				   data-payment-profiles="< .block-body | .js-xfrmc-paymentProfiles"
                   placeholder="{{ phrase('xfrmc_renew_price') }}" style="width: 120px" />
    <hr class="formRowSep" />
</xf:macro>

<xf:macro id="buy_button" arg-resource="!">
	<xf:set var="$downloadButton">
		<xf:button href="{{ link('resources/download', $resource) }}"
				   style="margin-right:6px"
				   overlay="true" icon="download">{{ phrase('download') }}</xf:button>
	</xf:set>
	<xf:if is="$resource.canDownload()">
		{{ $downloadButton|raw }}
	</xf:if>
	<xf:if is="$resource.isXFRMCCommerceItem()">
		<xf:if is="$resource.isRenewLicense()">
			{{ $downloadButton|raw }}
		</xf:if>
		<xf:foreach loop="$resource.getXFRMCPriceBadges(true)" value="$_badge">
			<xf:button href="{$_badge.link}"
					   class="button--cta" overlay="true">{$_badge.text}</xf:button>
		</xf:foreach>
	</xf:if>
</xf:macro>

<xf:macro id="resource_list_grid" arg-resources="!" arg-showPrice="{{ true }}">
	<xf:css src="xfrmc_resource_list.less"/>
	<div class="xfrmc-resourceList">
		<xf:foreach loop="$resources" value="$resource">
			<div class="resourceList-item {{ $resource.resource_state }}">
				<xf:macro id="resource_list_grid_item"
						  arg-showPrice="{$showPrice}"
						  arg-resource="{$resource}"/>
			</div>
		</xf:foreach>
	</div>
</xf:macro>

<xf:macro id="resource_list_grid_item" arg-resource="!" arg-showPrice="{{ true }}">
	<div class="resourceList-item--wrapper">
		<div class="resourceList-item--icon">
			{{ resource_icon($resource, 'l', link('resources', $resource)) }}
			<div class="resourceList-item--priceBadge">
				<xf:if is="$resource.isXFRMCCommerceItem()">
					<xf:foreach loop="$resource.getXFRMCPriceBadges()" value="$_badge">
						<xf:if is="$_badge.link">
							<a href="{$_badge.link}" data-xf-click="overlay"
							   class="resourceList-item--price">{$_badge.text}</a>
						<xf:else />
							<span class="resourceList-item--price">{$_badge.text}</span>
						</xf:if>
					</xf:foreach>
				</xf:if>
			</div>
		</div>

		<div class="resourceList-item--body">
			<div class="resourceList-item--fill">
				<a href="{{ link('resources', $resource) }}"
				   class="resourceList-item--title" data-tp-primary="on">{$resource.title}</a>
				<p class="resourceList-item--description">{$resource.tag_line}</p>
			</div>

			<div class="resourceList-item--meta">
				<xf:macro id="rating_macros::stars_text"
						  arg-rating="{$resource.rating_avg}"
						  arg-count="{$resource.rating_count}"
						  arg-rowClass="ratingStarsRow--justified"
						  arg-starsClass="ratingStars--custom" />
				<div>
					<xf:if is="$xf.visitor.user_id > 0">
						<xf:button href="{{ link('resources/download', $resource) }}"
								   title="{{ phrase('download') }}" data-xf-init="tooltip" data-xf-click="overlay"
								   class="button--link button--icon"><xf:fa icon="far fa-download" /></xf:button>
					</xf:if>
					<xf:if is="$resource.canPurchase()">
						<xf:button href="{{ link('resources/purchase', $resource) }}"
								   overlay="true" title="{{ phrase('xfrmc_buy_now') }}" data-xf-init="tooltip"
								   class="button--cta button--icon"><xf:fa icon="far fa-shopping-cart" /></xf:button>
					</xf:if>
				</div>
			</div>
		</div>
	</div>
</xf:macro>

<xf:macro id="structured_data" arg-resource="!" arg-description="!">
	<xf:page option="ldJsonHtml">
		<script type="application/ld+json">{{ $resource.getXFRMCStructureJsonLd()|json|raw }}</script>
	</xf:page>
</xf:macro>

<xf:macro id="tools_menu" arg-resource="!">
	<xf:if is="$resource.canTransferLicense()">
		<a href="{{ link('resources/transfer-license', $resource) }}" class="menu-linkRow">{{ phrase('xfrmc_transfer_license') }}</a>
	</xf:if>
</xf:macro>