<xf:title>{{ phrase('download') }}</xf:title>

<xf:breadcrumb source="$resource.getBreadcrumbs()" />

<xf:if is="!$inlineDownload">
    <xf:wrap template="xfrm_resource_wrapper">
        <xf:set var="$pageSelected" value="buyers" />
    </xf:wrap>
</xf:if>

<xf:form action="{{ link('resources/download', $resource) }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="$purchase AND $purchase.isExpired()">
                <xf:inforow rowtype="confirm">
                    {{ phrase('xfrmc_your_license_has_been_expired_renew_to_download_latest_version') }}
                </xf:inforow>
            </xf:if>

            <xf:selectrow name="version_id" label="{{ phrase('xfrmc_choose_version') }}">
                <xf:foreach loop="$versions" value="$version" if="{$version.canDownload}">
                    <xf:option value="{$version.resource_version_id}">{$version.version_string}</xf:option>
                </xf:foreach>
            </xf:selectrow>

            <xf:formrow label="{{ phrase('xfrmc_installable_in_urls') }}"
                        explain="{{ phrase('xfrmc_installable_in_urls_explain') }}">
                <ol class="listPlain">
                    <xf:foreach loop="$licenses" value="$license">
                        <li><a href="{$license.license_url}">{$license.license_url}</a></li>
                    </xf:foreach>
                </ol>
            </xf:formrow>
        </div>

        <xf:submitrow icon="download" rowtype="simple" submit="{{ phrase('download') }}" />
    </div>
</xf:form>