<xf:macro name="type"
	arg-currentType="!"
	arg-resource="!"
	arg-category="!"
	arg-versionAttachData="!"
	arg-allowCurrentType="{{ false }}">

	<xf:radiorow name="resource_type" value="{$currentType}"
		label="{{ phrase('type') }}"
		data-xf-init="attachment-manager">

		<xf:option value="download_local"
			label="{{ phrase('xfrm_uploaded_files:') }}" selected="{{ true }}">

			<xf:macro template="helper_attach_upload" name="upload_block"
				arg-attachmentData="{$versionAttachData}"
				arg-hiddenName="version_attachment_hash" />
		</xf:option>
	</xf:radiorow>

    <xf:macro name="purchase_inputs" arg-resource="{$resource}" arg-showPrice="{{ true }}" />
</xf:macro>

<xf:macro name="purchase_inputs" arg-resource="!" arg-showPrice="{{ false }}">
    <hr class="formRowSep" />
    <xf:callback class="Truonglv\XFRMCustomized\Callback"
                 method="renderPaymentProfiles"
                 params="{'resource': $resource}" />
    <xf:if is="$showPrice">
        <xf:formrow rowtype="input" label="{{ phrase('price') }}">
            <xf:macro template="xfrm_resource_edit_macros" name="purchase_inputs"
                      arg-resource="{$resource}" />
        </xf:formrow>
    </xf:if>

    <xf:textboxrow name="renew_price"
                   label="{{ phrase('xfrmc_renew_price') }}"
                   value="{{ $resource.renew_price ?: '' }}"
                   placeholder="{{ phrase('xfrmc_renew_price') }}" style="width: 120px" />
    <hr class="formRowSep" />
</xf:macro>

<xf:macro name="buy_button" arg-resource="!">
	<xf:if is="$resource.CurrentVersion.canDownload()">
		<xf:button href="{{ link('resources/download', $resource) }}">{{ phrase('download') }}</xf:button>
	<xf:else />
		<xf:if is="$resource.isRenewLicense()">
			<xf:set var="$purchasePhrase">{{ phrase('xfrmc_renew_for_x', {'price': $resource.getPurchasePrice()|currency($resource.currency)}) }}</xf:set>
		<xf:else />
			<xf:set var="$purchasePhrase">{{ phrase('xfrm_buy_for_x', {'price': $resource.getPurchasePrice()|currency($resource.currency)}) }}</xf:set>
		</xf:if>
		<xf:button href="{$resource.external_purchase_url}"
				   class="button--cta"
				   overlay="true"
				   icon="purchase">{$purchasePhrase}</xf:button>
	</xf:if>
</xf:macro>