<xf:title>{{ phrase('xfrmc.coupons') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:datalist>
                <xf:datarow rowclass="dataList-row--subSection">
                    <xf:cell>{{ phrase('xfrmc_coupon_code') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_title') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_begin_date') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_end_date') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_used') }}</xf:cell>
                </xf:datarow>
            </xf:datalist>
        </div>
    </div>
</div>