<xf:title>{{ phrase('xfrmc_purchased_resources') }}</xf:title>

<xf:css src="xfrmc_resource_list.less"/>

<div class="block xfrmc-purchaseResources">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="$resources is not empty">
                <xf:macro id="xfrmc_resource_macros::resource_list_grid"
                          arg-resources="{$resources}"
                          arg-showPrice="{{ false }}" />
            <xf:else />
                <div class="block-row">{{ phrase('xfrmc_you_did_not_bought_any_resources_yet') }}</div>
            </xf:if>
        </div>
    </div>
</div>