.xfrmc-purchaseResources {
  .xfrmc-resourceList {
    .resourceList-item {
      flex: 0 0 20%;
      min-width: 20%;
    }
  }
}

.xfrmc-resourceList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: @xf-paddingMedium;
  padding: @xf-paddingMedium;

  .resourceList-item {
    &.deleted, &.moderated {
      opacity: 0.4;

      .resourceList-item--wrapper {
        box-shadow: none;
      }
    }

    .resourceList-item--wrapper {
      border-radius: @xf-borderRadiusMedium;
      display: flex;
      flex-direction: column;
      border: 1px solid @xf-borderColor;
      height: 100%;
    }

    .avatar {
      height: 200px;
      width: 100%;
      background-color: transparent !important;
      border-radius: 3px 3px 0 0;
    }

    .resourceList-item--body {
      padding: @xf-paddingLarge;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .resourceList-item--title {
      font-weight: 500;
      color: @xf-linkHoverColor;
      font-size: @xf-fontSizeLarge;
    }

    .resourceList-item--description {
      padding: 0;
      font-size: @xf-fontSizeSmaller;
      color: @xf-textColorMuted;
      margin: 0 0 @xf-paddingLarge;
    }

    .resourceList-item--price {
      font-weight: 600;
      background-color: @xf-textColorAttention;
      color: #fff;
      font-size: @xf-fontSizeSmaller;
      padding: @xf-paddingSmall @xf-paddingLarge;
      border-radius: @xf-borderRadiusMedium;
    }

    .resourceList-item--meta {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ratingStarsRow {
        flex-direction: column;

        .ratingStars--custom {
          font-size: 90%;
        }

        .ratingStarsRow-text {
          margin-left: inherit;
          font-size: @xf-fontSizeSmaller;
          color: @xf-textColorMuted;
        }
      }
    }

    .resourceList-item--fill {
      flex: 1;
    }

    .button--icon {
      .fa {
        font-size: @xf-fontSizeLarge;
      }
    }

    .resourceList-item--icon {
      position: relative;

      .resourceList-item--priceBadge {
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    }
  }
}

@media(max-width: @xf-responsiveMedium) {
  .xfrmc-resourceList {
    gap: @xf-paddingSmall;
    padding: @xf-paddingSmall;
    grid-template-columns: repeat(3, 1fr);

    .resourceList-item {
      .avatar {
        height: 140px;
      }
    }
  }
}

@media(max-width: @xf-responsiveNarrow) {
  .xfrmc-resourceList {
    grid-template-columns: repeat(2, 1fr);
  }
}