<xf:title>{{ $isRenewPurchase
    ? phrase('xfrmc_renew_license')
    : phrase('xfrmc_buy_license') }}</xf:title>

<xf:breadcrumb source="$resource.getBreadcrumbs()" />

<xf:js src="Truonglv/XFRMCustomized/coupon.js"
       addon="Truonglv/XFRMCustomized" min="1" />

<xf:form action="{{ link('purchase', $purchasable) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="!$isRenewPurchase">
                <xf:inforow rowtype="confirm">
                    {{ phrase('xfrmc_sure_you_want_to_purchase_this_resource') }}
                    <strong><a href="{{ link('resources', $resource) }}">{$resource.title}</a></strong>
                </xf:inforow>
            </xf:if>

            <xf:formrow label="{{ phrase('price') }}">
                <span id="final-price">{$purchasePrice|currency($resource.currency)}</span>
                <span id="original-price" style="text-decoration: line-through;display: none">{$purchasePrice|currency($resource.currency)}</span>
            </xf:formrow>

            <xf:formrow label="{{ phrase('xfrmc_license_duration') }}">{{ phrase('xfrmc_12_months') }}</xf:formrow>

            <xf:radiorow label="{{ phrase('xfrmc_purchase_via') }}" name="payment_profile_id">
                <xf:foreach loop="$paymentProfiles" value="$paymentProfile">
                    <xf:option value="{$paymentProfile.payment_profile_id}">{{ $paymentProfile.display_title . ' - ' . $paymentProfile.title }}</xf:option>
                </xf:foreach>
            </xf:radiorow>

            <xf:formrow label="{{ phrase('xfrmc_coupon_code') }}" rowtype="input"
                        explain="{{ phrase('xfrmc_enter_coupon_code_to_receive_discount') }}">
                <div class="inputGroup">
                    <xf:textbox name="coupon_code" value="" class="input--couponCode" />
                    <span class="inputGroup-splitter"></span>
                    <xf:button data-xf-click="xfrmc-check-coupon-code"
                               data-href="{{ link('resources/coupons/check') }}"
                               data-resource-id="{$resource.resource_id}"
                               data-coupon-input="< .inputGroup | .input--couponCode"
                               data-final-price="#final-price"
                               data-original-price="#original-price"
                               type="button">{{ phrase('xfrmc_check_available') }}</xf:button>
                </div>
            </xf:formrow>
        </div>

        <xf:hiddenval name="resource_id">{$resource.resource_id}</xf:hiddenval>

        <xf:submitrow submit="{{ phrase('xfrmc_purchase_resource') }}"
                      rowtype="simple"
                      icon="purchase" />
    </div>
</xf:form>