<xf:title>{{ phrase('xfrmc.add_buyer') }}</xf:title>

<xf:breadcrumb source="$resource.getBreadcrumbs()" />

<xf:form action="{$formAction}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="$purchased is not empty">
                <xf:formrow label="{{ phrase('xfrmc.buyers') }}">
                    <xf:username user="{$purchased.User}" defaultname="{$purchase.username}" />
                </xf:formrow>

                <xf:hiddenval name="user_id">{$purchased.user_id}</xf:hiddenval>
                <xf:formrow label="{{ phrase('xfrmc.purchased_date') }}">{{ date($purchased.purchased_date, 'Y-m-d') }}</xf:formrow>
            <xf:else />
                <xf:textboxrow name="names"
                               label="{{ phrase('xfrmc.buyers') }}"
                               ac="true" />
                <xf:dateinputrow name="purchased_date"
                                 value="{{ date($xf.time, 'picker') }}"
                                 label="{{ phrase('xfrmc.purchased_date') }}"  />
            </xf:if>

            <xf:numberboxrow name="amount"
                             min="0"
                             value="{$purchased.amount}"
                             label="{{ phrase('xfrmc.price') }}" />

            <xf:dateinputrow name="expire_date"
                             value="{{ $purchased.expire_date ? date($purchased.expire_date, 'picker') : '' }}"
                             label="{{ phrase('xfrmc.expire_date') }}"  />
        </div>

        <xf:submitrow submit="{{ phrase('xfrmc.add_buyer') }}" />
    </div>
</xf:form>