<xf:title>{{ phrase('xfrmc_coupons') }}</xf:title>

<xf:pageaction>
    <xf:button class="button--link"
               href="{{ link('resources/coupons/add') }}"
               overlay="true"
               icon="add">{{ phrase('xfrmc_add_coupon') }}</xf:button>
</xf:pageaction>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:datalist>
                <xf:datarow rowclass="dataList-row--subSection">
                    <xf:cell>{{ phrase('xfrmc_coupon_code') }}</xf:cell>
                    <xf:cell>{{ phrase('title') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_begin_date') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_end_date') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_used') }}</xf:cell>
                </xf:datarow>
                <xf:foreach loop="$coupons" value="$coupon">
                    <xf:datarow>
                        <xf:cell>{$coupon.coupon_code}</xf:cell>
                        <xf:cell><a href="{{ link('resources/coupons', $coupon) }}">{$coupon.title}</a></xf:cell>
                        <xf:cell>{{ date($coupon.begin_date) }}</xf:cell>
                        <xf:cell>{{ date($coupon.end_date) }}</xf:cell>
                        <xf:cell>{$coupon.used_count}/{$coupon.max_use_count}</xf:cell>
                    </xf:datarow>
                </xf:foreach>
            </xf:datalist>
        </div>

        <div class="block-outer block-outer--after">
            <xf:pagenav link="resources/coupons" page="{$page}"
                        perpage="{$perPage}" total="{$total}" />
        </div>
    </div>
</div>