<xf:title>{{ phrase('xfrmc_renew_license') }}</xf:title>

<xf:form action="{{ link('purchase', $purchasable) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:inforow rowtype="confirm">
                {{ phrase('xfrmc_you_have_license_this_resource_but_it_expired_renew_continue_download') }}
            </xf:inforow>

            <xf:radiorow name="purchase_id" label="{{ phrase('xfrmc_choose_license') }}"
                         value="{$suggestPurchaseId}"
                         hint="{{ phrase('xfrmc_renew_license_explain', {'days': $xf.app.options.xfrmc_licenseDuration}) }}">
                <xf:foreach loop="$purchases" value="$purchase">
                    <xf:option value="{$purchase.purchase_id}">{{ ($purchase.expire_date > $xf.time) ? phrase('xfrmc_expires_at_x', {
                        'date': date($purchase.expire_date, 'absolute')
                    }) : phrase('xfrmc_expired_at_x', {
                        'date': date($purchase.expire_date, 'absolute')
                    }) }}</xf:option>
                </xf:foreach>
            </xf:radiorow>

            <hr class="formRowSep"/>

            <xf:radiorow label="{{ phrase('xfrmc_purchase_via') }}" name="payment_profile_id">
                <xf:foreach loop="$paymentProfiles" value="$paymentProfile">
                    <xf:option value="{$paymentProfile.payment_profile_id}">
                        {{ $paymentProfile.display_title ?: $paymentProfile.title }}: {$resource.getRenewPrice($paymentProfile)|currency($resource.currency)}
                    </xf:option>
                </xf:foreach>
            </xf:radiorow>
        </div>

        <xf:submitrow icon="purchase" submit="{{ phrase('xfrmc_purchase') }}" />
    </div>
</xf:form>