<xf:title>{{ phrase('download') }}</xf:title>

<xf:breadcrumb source="$resource.getBreadcrumbs()" />

<xf:if is="!$inlineDownload">
    <xf:wrap template="xfrm_resource_wrapper">
        <xf:set var="$pageSelected" value="buyers" />
    </xf:wrap>
</xf:if>

<xf:form action="{{ link('resources/download', $resource) }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:selectrow name="version_id" label="{{ phrase('xfrmc_choose_version') }}">
                <xf:foreach loop="$versions" value="$version" if="{$version.canDownload}">
                    <xf:option value="{$version.resource_version_id}">{$version.version_string}</xf:option>
                </xf:foreach>
            </xf:selectrow>
        </div>

        <xf:submitrow icon="download" rowtype="simple" submit="{{ phrase('download') }}" />
    </div>
</xf:form>