<xf:title>{$coupon.title}</xf:title>

<div class="block">
    <div class="block-outer">
        <div class="block-outer-opposite">
            <div class="buttonGroup">
                <xf:if is="$coupon.canEdit()">
                    <xf:button href="{{ link('resources/coupons/edit', $coupon) }}"
                               overlay="true"
                               class="button--link" icon="edit">{{ phrase('tl_xfrm_customized.edit_coupon') }}</xf:button>
                </xf:if>
                <xf:if is="$coupon.canDelete()">
                    <xf:button href="{{ link('resources/coupons/delete', $coupon) }}"
                               overlay="true"
                               class="button--link" icon="delete">{{ phrase('tl_xfrm_customized.delete_coupon') }}</xf:button>
                </xf:if>
            </div>
        </div>
    </div>
    <div class="block-container">
        <div class="block-body">
            <xf:formrow label="{{ phrase('tl_xfrm_customized.coupon_code') }}">{$coupon.coupon_code}</xf:formrow>
            <xf:formrow label="{{ phrase('tl_xfrm_customized.discount') }}">
                <xf:if is="$coupon.discount_unit == 'percent'">
                    {$coupon.discount_amount}%
                    <xf:else />
                    {$coupon.discount_amount|currency}
                </xf:if>
            </xf:formrow>
            <xf:formrow label="{{ phrase('tl_xfrm_customized.begin_date') }}">{{ date($coupon.begin_date, 'Y-m-d') }}</xf:formrow>
            <xf:formrow label="{{ phrase('tl_xfrm_customized.end_date') }}">{{ date($coupon.end_date, 'Y-m-d') }}</xf:formrow>
            <xf:formrow label="{{ phrase('tl_xfrm_customized.used') }}">{$coupon.used_count}/{$coupon.max_use_count}</xf:formrow>

            <xf:formrow label="{{ phrase('tl_xfrm_customized.created_by') }}"><xf:username user="$coupon.User" defaultname="{$coupon.username}" /></xf:formrow>
        </div>
    </div>
</div>