<xf:title>{$coupon.title}</xf:title>

<xf:breadcrumb href="{{ link('canonical:resources/coupons') }}">{{ phrase('xfrmc_coupons') }}</xf:breadcrumb>
<xf:breadcrumb href="{{ link('canonical:resources/coupons', $coupon) }}">{$coupon.title}</xf:breadcrumb>

<div class="block">
    <div class="block-outer">
        <div class="block-outer-opposite">
            <div class="buttonGroup">
                <xf:if is="$coupon.canEdit()">
                    <xf:button href="{{ link('resources/coupons/edit', $coupon) }}"
                               overlay="true"
                               class="button--link" icon="edit">{{ phrase('xfrmc_edit_coupon') }}</xf:button>
                </xf:if>
                <xf:if is="$coupon.canDelete()">
                    <xf:button href="{{ link('resources/coupons/delete', $coupon) }}"
                               overlay="true"
                               class="button--link" icon="delete">{{ phrase('xfrmc_delete_coupon') }}</xf:button>
                </xf:if>
            </div>
        </div>
    </div>
    <div class="block-container">
        <div class="block-body">
            <xf:formrow label="{{ phrase('xfrmc_coupon_code') }}">{$coupon.coupon_code}</xf:formrow>
            <xf:formrow label="{{ phrase('xfrmc_discount') }}">
                <xf:if is="$coupon.discount_unit == 'percent'">
                    {$coupon.discount_amount}%
                    <xf:else />
                    {$coupon.discount_amount|currency}
                </xf:if>
            </xf:formrow>
            <xf:formrow label="{{ phrase('xfrmc_begin_date') }}">{{ date($coupon.begin_date, 'Y-m-d') }}</xf:formrow>
            <xf:formrow label="{{ phrase('xfrmc_end_date') }}">{{ date($coupon.end_date, 'Y-m-d') }}</xf:formrow>
            <xf:formrow label="{{ phrase('xfrmc_used') }}">{$coupon.used_count}/{$coupon.max_use_count}</xf:formrow>

            <xf:formrow label="{{ phrase('xfrmc_created_by') }}"><xf:username user="$coupon.User" defaultname="{$coupon.username}" /></xf:formrow>
        </div>
    </div>
</div>

<div class="block">
    <div class="block-container">
        <h3 class="block-header">{{ phrase('users') }}</h3>
        <div class="block-body">
            <xf:datalist>
                <xf:datarow rowclass="dataList-row--subSection">
                    <xf:cell>{{ phrase('name') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_resource') }}</xf:cell>
                    <xf:cell>{{ phrase('xfrmc_used_date') }}</xf:cell>
                </xf:datarow>

                <xf:foreach loop="$users" value="$user">
                    <xf:datarow>
                        <xf:cell class="dataList-cell--main">
                            <xf:avatar user="$user.User" size="xxs" defaultname="{$user.username}" />
                            <xf:username user="$user.User" defaultname="{$user.username}" />
                        </xf:cell>
                        <xf:cell class="dataList-cell--main">
                            <xf:if is="$user.Resource">
                                <a href="{{ link('resources', $user.Resource) }}">{$user.Resource.title}</a>
                            </xf:if>
                        </xf:cell>
                        <xf:cell><xf:date time="$user.created_date" /></xf:cell>
                    </xf:datarow>
                </xf:foreach>
            </xf:datalist>
        </div>
    </div>

    <div class="block-outer block-outer--after">
        <xf:pagenav link="resources/coupons" data="{$coupon}"
                    page="{$page}" perpage="{$perPage}"
                    total="{$total}" />
    </div>
</div>